@import url("/Graph-Notes/css/create-notes.css");
@import url("/Graph-Notes/css/sidebar.css");
@import url("/Graph-Notes/css/view-notes.css");
@import url("/Graph-Notes/css/styles-graph.css");
@import url("/Graph-Notes/css/popup.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

@media screen and (max-width: 775px) {
    .location-app{
        font-size: 1.5rem;
    }
}